body {
    margin: 0;
}

.header {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
}

h1 {
    margin: 0;
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    font-family: Arial, Helvetica, sans-serif;
}


.top {
    display: flex;
    flex-direction: row;
    margin-left: 150px;
}

.mid {
    display: flex;
    justify-content: space-between;
    margin: 100px 0 100px 150px;
}

.logo {
    flex: auto;
}

.header-link {
    display: flex;
    gap: 10px;
    margin: 10px;
    align-items: center;
    margin-right: 150px;
}

.mid-right {
    width: 400px;
    height: 225px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    color: white;
    margin-right: 150px;
}

.b1 {
    background-color: #3882F6;
    color: white;
    border-radius: 15px;
    width: 125px;
    height: 30px;
}

.mid-left {
    width: 350px;
    margin-right: 50px;
}

.image h1 {
    font-size: 35px;
    color: black;
    text-align: center;
    margin: 40px;
}

.image p {
    color: gray;
    text-align: center;
}

.image img {
    width: 150px;
    height: 150px;
    border: 4px solid #3882F6;
    border-radius: 20px;
}

.image {
    margin: 20px;
    padding-bottom: 100px;
}

.captions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}

.caption {
    width: 150px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

h2, h1, p, a {
    color: white;
}

.quote {
    background-color: #E5E7EB;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding: 100px 150px 50px 150px;
}

.quote .text {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1F2937;
    margin: 0;

}

.quote .person {
    color: black;
    font-size: 20px;
    font-weight: bolder;
}

.signup {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.signup .banner {
    background-color: #3882F6;
    width: 800px;
    height: 110px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.signup .call {
    margin-bottom: 0;
    font-weight: bolder;
    font-size: 20px;
}

.signup .sign {
    margin-top: 0;
}

.signup .sign-button {
    background-color: #3882F6;
    color: white;
    border-radius: 5px;
    border-color: white;
    border-width: 3px;
    width: 100px;
    height: 30px;
}

.footer {
    background-color: #1F2937;
    margin: 0;
    padding: 20px;
}

.footer p {
    text-align: center;
}